<div class="container">
  <div class="form">
    <form>
      <div class="form-groups">
        <label for="username">UserName</label>
        <div>
          <input class="form-input" type="text" id="username" />
        </div>
      </div>
      <div class="form-groups">
        <label for="Password">Password</label>
        <div>
          <input class="form-input" type="text" id="Password" />
        </div>
      </div>
      <div class="form-groups">
        <button class="btn btn-primary btn-button" type="submit">SUBMIT</button>
      </div>
    </form>
  </div>
</div>
