<div class="container-fluid bg-dark">
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="content d-flex justify-content-between mt-3">
    <div class="form">
      <app-form></app-form>
      <p class="p-info">fill in form and submit to see name and description person repository</p>
    </div>
    <div class="display-info">
      <app-home></app-home>
      <!-- <app-person-acess-token></app-person-acess-token> -->
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
