<div class="row row-col-lg-2 row-col-sm-1 nav-bar">
  <div class="container d-flex justify-content-between">
    <div class="logo">
      <img class="logo-img" src="../../assets/github-logo.png" alt="" srcset="" />
    </div>
    <div class="name">
        <h3 >GITSPOT</h3>
    </div>
    <div class="nav-links ">
      <a class="nav-a" routerLink="Home">Home</a>
      <!-- <a class="nav-a" routerLink="">About</a> -->
      <a class="nav-a" routerLink="PersonalAccessToken">person-acess-token</a>
    </div>
  </div>
</div>
