.class {
  background-color: rgba(250, 235, 215, 0.721);
  text-align: center;
  justify-content: flex-end;
}

.nav {
  height: 3rem;
  align-items: center;
  float: right;
}

img {
  height: 2rem;
  padding: .2rem ;
  margin: 0 .2rem;
  background: transparent;
  border-radius: .2rem;
}

.form-group{
    width: 25%;
}