<div class="class">
    <div class="nav">
        <img src="../../assets/notify.png" alt="" srcset="">
        <img src="../../assets/plus.webp" alt="" srcset="">
        <img src="../../assets/hezzyim.jpeg" alt="" srcset="">
    </div>
    <form>
        <div class="form-group">  
            <label for="website">SignIn As:  </label>  
            <hr>
            <select class="form-control">  
                <option>Your Profile</option>  
                <option>Your Star</option>  
                <option>Explore</option>  
                <option>Intergration</option>  
                <option>Help</option>  
                <hr>
                <option>Settings</option>  
                <option>Sign Out</option> 
            </select> 
        </div> 
    </form>
</div>